:root{
  --main-color:#06c;
  --accent-color: #006;
}
#foo h1{
  color: var(--main-color);
}

section {
  float: left;
  margin: 1em;
  border: 1px solid var(--accent-color);
  width: calc(100%/3 - 2*1em - 2*1px);
}